# Primeiros Exemplos

In [168]:
print('Primeiro programa')
1 \
    + 2 

help(print)

Primeiro programa
Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [167]:
1 + 2 + 3
4 + 5 + 6

15

In [ ]:
print(1 + 2 + 3)
print(4 + 5 + 6)

# Tipos Básicos

In [ ]:
print(True)
print(False)
print(1.2 + 1)
print('Aqui ru falo na minha lingua!')
print("Tbm funciona")
print('Você eh ' + 3*'mto ' + 'legal')
print([1, 2, 3])
print({'nome': 'Joao', 'idade': '23'})
print(None)

# Variaveis

In [ ]:
a = 10
b = 2.5

print(a+b)

a = 'Batata'
print(a)
a
b

# print(a+b)

# Comentarios

In [ ]:
# Minhas Variaveis

salario = 11
despesas = 12

'''
A ideia eh comentar 
mtas linhas de codigo
aspas simple ou duplas
'''

print(salario - despesas)

#print('Fim')
print('Fim de verdade')# comentario aqui tb vale!

# Operadores Aritmeticos

In [ ]:
print(1 + 2)
print(1 - 2)
print(3 * 2)
print(1 / 3)
print(1 // 3)
print(2 ** 8)
print(10 % 3)

a = 12
b = a
print(a + b)

## Desafios

In [ ]:
# Minhas Variaveis
salario = 1500
despesas = 520
comprometimentoSalario = (despesas/salario)*100
print(round(comprometimentoSalario, 2))

# Operadores Relacionais

In [ ]:
3 > 4
4 >= 3
1 < 2
3 <= 1
3 != 2
3 == 3
2 == '2'

# Operadores de Atribuição

In [ ]:
a = 3
a = a + 7
print(a)

a += 5
print(a)

a -= 3
print(a)

a *= 2
print(a)

a /= 4
print(a)

a %= 4
print(a)

a **= 8
print(a)

a //= 256
print(a)

# Operadores Logicos

In [ ]:
True or False
7 != 3 and 2 > 3

# Tabela Versade XOR
True != True
True != False
False != True
False != False

# Operador de Negação (unario)
not True
not False

not 0 # True
not 1 # False
not not -1 # True

#Cuidado! São operadores bit-a-bit, não gera um valor numerico
True & True
False | False
True ^ False

#um pouco de realidade 
salario = 4000
saldo = 1000
despezas = 3900

saldo_positivo = saldo > 0 
despezas_controladas = salario - despezas >= 0.2 * salario

meta = saldo_positivo and despezas_controladas
meta

## Desafios

In [ ]:
# Desafio Operadores Logicos
# Os Trabalhos

trabalho_terca = False
trabalho_quinta = False

"""
Confirmando os 2: TV 50` + Sorvete
Confirmando apenas um: TV 32` + Sorvete
Confirmando nenhum: Fica em casa
"""

tv_50 = trabalho_terca and trabalho_quinta
tv_32 = trabalho_terca or trabalho_quinta
sorvete = trabalho_terca != trabalho_quinta # XOR
saudavel = not sorvete

print('Tv50 = {} Tv32 = {}  Sorvete = {}  Saudavel = {}'
     .format(tv_50, tv_32, sorvete, saudavel))

# Operadores Unarios

In [ ]:
a = 3
# a++
a += 1

not 0
not 1
not -2
not False
not not True

# Operadores Ternarios

In [ ]:
estaChovendo = False

print('Hoje minha roupas estao ' + ('secas', 'molhadas')[estaChovendo])
print('Hoje minha roupas estao ' + ('molhadas' if estaChovendo else 'secas'))

# Mais Operadores

In [ ]:
# Operadores de Membro 
lista = [1, 2, 3, 'Ana', 'Carla']
2 in lista # True
"Ana" not in lista # False

# Operadores de Identidade
x = 3
y = x
z = 3
x is y # True
y is z # True
x is not z # False

lista_a = [1, 2, 3]
lista_b = lista_a
lista_c = [1, 2, 3]

lista_a is lista_b # True
lista_b is lista_c # False
lista_a is not lista_c # False

# Builtins

In [1]:
# type
type(1)
__builtins__.type('Fala galera!') # str
__builtins__.print(10/3) # 3.3333333333333335

nome = 'Joao Pedro'
type(nome) #str
len(nome) # 10
__builtins__.len(nome) # 10

dir()

3.3333333333333335

['In',
 'Out',
 '_',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'exit',
 'get_ipython',
 'nome',
 'quit']

# Conversão de Tipo

In [2]:
2 + 3
'3' + '3'
# 2 + '3'
# print(2 + '3')

a = 2
b = '3'

print(type(a))
print(type(b))

print(a + int(b))
print(str(a) + b)

<class 'int'>
<class 'str'>
5
23

# Coersão Automática

In [14]:
10 / 2
type(10 / 2) # float
10 / 3 # 3.3333333333333335
10 // 3 # 3
type(10 // 3) # int
10 // 3.3 # 3.0
type(10 // 3.3) # float
10 / 2.5 # 4.0
2 + True # 3
2 + False # 2
type(1 + 2) # int
type(1 + 2.5) # float

float

# Números

In [28]:
dir(int)
dir(float)

a = 5
b = 2.5
a / b 
a + b
a * b

type(a) #int
type(b) #float
type(a - b) #float

b.is_integer() #False
5.0.is_integer() #True

dir(int)
int.__add__(2, 3) #5
2 + 3 #5

(-2).__abs__() #2
abs(-2) #2

2

In [42]:
1.1 + 2.2 #3.3000000000000003

from decimal import Decimal, getcontext
Decimal(1) / Decimal(7) #Decimal('0.1428571428571428571428571429')

getcontext().prec = 4
Decimal(1) / Decimal(7) #Decimal('0.1429')
Decimal.max(Decimal(1), Decimal(7)) #Decimal('7')
dir(Decimal)

1.1 + 2.2
getcontext().prec = 10
Decimal(1.1) + Decimal(2.2) #Decimal('3.300000000')

import decimal
dir(decimal)

['BasicContext',
 'Clamped',
 'Context',
 'ConversionSyntax',
 'Decimal',
 'DecimalException',
 'DecimalTuple',
 'DefaultContext',
 'DivisionByZero',
 'DivisionImpossible',
 'DivisionUndefined',
 'ExtendedContext',
 'FloatOperation',
 'HAVE_THREADS',
 'Inexact',
 'InvalidContext',
 'InvalidOperation',
 'MAX_EMAX',
 'MAX_PREC',
 'MIN_EMIN',
 'MIN_ETINY',
 'Overflow',
 'ROUND_05UP',
 'ROUND_CEILING',
 'ROUND_DOWN',
 'ROUND_FLOOR',
 'ROUND_HALF_DOWN',
 'ROUND_HALF_EVEN',
 'ROUND_HALF_UP',
 'ROUND_UP',
 'Rounded',
 'Subnormal',
 'Underflow',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__libmpdec_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__version__',
 'getcontext',
 'localcontext',
 'setcontext']

# Tipo String

In [51]:
dir(str)
nome = 'Joao Pedro'
nome #'Joao Pedro'
nome[0] #'J'
# nome[0] = 'B' -> Da errado

"JP D'Agua" == 'JP D\'Agua' #True
"Teste \" funciona!" #'Teste " funciona!'
texto = 'Teste entre apostrofe pode ter "aspas"'
texto #'Teste entre apostrofe pode ter "aspas"'

doc = """Texto com multiplas 
...linhas"""
doc #'Texto com multiplas \n...linhas'
print('Texto com multiplas\n\t...linhas')
# Texto com multiplas
# 	...linhas
print(doc)
# Texto com multiplas 
# ...linhas

doc2 = '''Tambem eh possivel
... com 3 aspas simples'''
doc2 #'Tambem eh possivel\n... com 3 aspas simples'

Texto com multiplas
	...linhas
Texto com multiplas
...linhas

'Tambem eh possivel\n... com 3 aspas simples'

In [66]:
nome = 'Ana Paula'
nome[0] # 'A'
nome[6] # 'u'
nome[-3] # 'u'
nome[4:] # 'Paula'
nome[-5:] # 'Paula'
nome[:3] # 'Ana'
nome[::-1] #'aluaP anA'

numeros = '1234567890'
numeros #'1234567890'
numeros[::] # '1234567890'
numeros[::2] # '13579'
numeros[1::2] # '24680'
numeros[::-1] # '0987654321'
numeros[::-2] # '08642'

'08642'

In [75]:
frase = "Python eh uma linguagem excelente"
'py' in frase #False
'ing' in frase #True
len(frase) #33
frase.lower() #'python eh uma linguagem excelente'
frase = frase.upper()
frase #'PYTHON EH UMA LINGUAGEM EXCELENTE'

frase.split() #['PYTHON', 'EH', 'UMA', 'LINGUAGEM', 'EXCELENTE']
frase.split('E') #['PYTHON ', 'H UMA LINGUAG', 'M ', 'XC', 'L', 'NT', '']

['PYTHON ', 'H UMA LINGUAG', 'M ', 'XC', 'L', 'NT', '']

# Lista

In [87]:
lista = []
type(lista) # lista
dir(lista)
len(lista) # 0
lista.append(1)
lista.append(5)
lista # [1, 5]
len(lista) # 2

nova_lista = [1, 5, 'Ana', 'Bia']
nova_lista #[1, 5, 'Ana', 'Bia']
nova_lista.remove(5)
nova_lista #[1, 'Ana', 'Bia']
nova_lista.reverse()
nova_lista #['Bia', 'Ana', 1]

['Bia', 'Ana', 1]

In [96]:
lista = [1, 2, 'Rebeca', 'Guilherme', 3.1415]
lista.index('Guilherme') #3
# lista.index(42) -> error
lista[2] # Rebeca
1 in lista # True
'Rebeca' in lista # True
'Pedro' not in lista # True
lista[0] #1
lista[4] #3.1415
#lista[5] -> error
lista[-1] #3.1415
lista[-5] #1

1

In [108]:
lista = ['Ana', 'Lia', 'Rui', 'Paulo', 'Dani']
lista[1:3] #['Lia', 'Rui']
lista[1:-1] #['Lia', 'Rui', 'Paulo']
lista[1:] #['Lia', 'Rui', 'Paulo', 'Dani']
lista[:-1] #['Ana', 'Lia', 'Rui', 'Paulo']
lista[:] #['Ana', 'Lia', 'Rui', 'Paulo', 'Dani']
lista[::] #['Ana', 'Lia', 'Rui', 'Paulo', 'Dani']
lista[::2] #['Ana', 'Rui', 'Dani']
lista[::-1] #['Dani', 'Paulo', 'Rui', 'Lia', 'Ana']
lista.remove('Lia')
lista #['Ana', 'Rui', 'Paulo', 'Dani']
del lista[1:]
lista #['Ana']

['Ana']

# Tupla

In [123]:
tupla = tuple()
tupla = ()
type(tupla) #tuple
dir(tuple)
tupla = ('um')
type(tupla) #str
tupla = ('um',)
type(tupla) #tuple
tupla[0] #'um'
#tupla[0] = 'novo'
cores = ('verde', 'amarelo', 'azul', 'branco')
cores[0] #'verde'
cores[-1] #'branco'
cores[1:] #('amarelo', 'azul', 'branco')

cores.index('amarelo') #1
cores.count('azul') #1
len(cores) #4

4

# Dicinario

In [135]:
pessoa = {'nome': 'Pedro', 'idade': 23, 'cursos': ['vue', 'node', 'js']}

len(pessoa)
pessoa
pessoa['nome']
pessoa['idade']
pessoa['cursos']
pessoa['cursos'][1]
pessoa.keys()
pessoa.values()
pessoa.items()
pessoa.get('idade')
pessoa.get('tags')
pessoa.get('tags', [])

[]

In [147]:
pessoa = {'nome': 'Pedro', 'idade': 23, 'cursos': ['vue', 'node', 'js']}
pessoa['idade'] = 32
pessoa['cursos'].append('python')
pessoa #{'nome': 'Pedro', 'idade': 32, 'cursos': ['vue', 'node', 'js', 'python']}

pessoa.pop('idade')
pessoa #{'nome': 'Pedro', 'cursos': ['vue', 'node', 'js', 'python']}

pessoa.update({'idade': 23, 'sexo': 'M'})
pessoa #{'nome': 'Pedro','cursos': ['vue', 'node', 'js', 'python'],'idade': 23,'sexo': 'M'}
del pessoa['cursos']
pessoa #{'nome': 'Pedro', 'idade': 23, 'sexo': 'M'}
pessoa.clear()
pessoa #{}

{}

# Conjunto

In [160]:
a = {1, 2, 3}
type(a) #set
a = set('cod3r')
print(a)

print('3' in a, 4 not in a) #True True

# operacoes
c1 = {1, 2}
c2 = {2, 3}

c1.union(c2) #{1, 2, 3}
c1.intersection(c2) #{2}
c1.update(c2)
c1 #{1, 2, 3}

c2 <= c1 #True
c1 >= c2 #True

{1, 2, 3} - {2} #{1, 3}
c1 - c2 #{1}
c1 -= {2}
c1 #{1, 3}

{'3', 'r', 'd', 'o', 'c'}
True True

{1, 3}

# Interpolação

In [166]:
from string import Template

nome, idade = 'Ana', 23

print('Nome: %s Idade: %d' % (nome, idade))
print('Nome: {0} Idade: {1}'.format(nome,idade))
print(f'Nome: {nome} Idade: {idade}')

s = Template('Nome: $nome Idade: $idade')
print(s.substitute(nome=nome, idade=idade))

Nome: Ana Idade: 23
Nome: Ana Idade: 23
Nome: Ana Idade: 23
Nome: Ana Idade: 23